body {
    /* margin-left: 40%; */
    width: 455px;
    margin: 0 auto;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;    
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.picc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


.btn {
    width: 450px;
    height: 20px;
    background: pink;
    text-align: center;
    cursor: pointer;
}

img {
    height: 300px;
    width: 450px;
}

h1 {
    color: green;
}

.containerDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divClasss {
    margin: 20px
    
}